.App {
    min-height: 100vh;
    background-color: #f6e4d6;
}

.WorthBox {
    position: relative;
    top: 150px;
    height: 25rem; 
    background-color: #f6e4d6;
}

.Carousel {
    position: relative;
    left: 20%;
    top: 50%;
    height: 50%;
    width: 500px;
}

.WorthInput {
    height: 35px;
    width: 250px;
    border: 2px solid #73AD21;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 10px;
    background-color: #E7DDDC;
}

.Navbar {
    padding-top: 27px;
    text-align: center;
    color: black;
    background-color: #f6e4d6;
    height: 80px;
}

.logo {
    height: 250px;
    position: relative;
    top: -110px;
    padding-top: 0px;
}

.Questions {
    color: white;
    text-shadow: 2px 2px black;
    position: relative;
    top: 25px;
    font-size: 22px;
    font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}